:root {
  --header-text-color: #212121;
  --header-sec-text-color: #757575;
  --primery-text-color: #212121;
  --sacondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --logo-main-color: #2196f3;
}

body {
  font-family: "roboto", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

/*----------------header--------------*/

.logo-web {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.logo-studio-dark {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-sec-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*----------------main--------------*/

.main-section {
  background-color: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-title-color);
}

.btn-main {
  font-weight: 700;
  color: #ffffff;
  background: #2196f3;
}

.btn-main:hover,
.btn-main:focus {
  background-color: #188ce8;
}

/*--------------about us--------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-main-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.about-sec-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sacondary-text-color);
}

/*------------what we do-----------*/

/*----------------team--------------*/

.team {
  background-color: #f5f4fa;
}

.team-link {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-work {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sacondary-text-color);
}

/*----------------footer--------------*/

.footer {
  background: #2f303a;
}

.logo-studio-light {
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adrs {
  font-style: inherit;
}

.adrs-link-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.adrs-link-map:hover,
.adrs-link-map:focus {
  color: var(--accent-color);
}

.adrs-link-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adrs-link-contacts:hover,
.adrs-link-contacts:focus {
  color: var(--accent-color);
}

/*----------------portfolio--------------*/

.btn-portfolio {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background: #f5f4fa;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.foto-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.foto-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--sacondary-text-color);
}
